<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Blog Web Application</title>
</head>
<body>

<nav>
  <a href="/" class="nav-name">blog app</a>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="https://mibiss.github.io">Portfolio</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
