<%- include("partials/header.ejs") %>

<h1 class="head-one">Welcome to the simple blog app!</h1>
<form action="/submit" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">name</label>
        <input type="text" class="form-control" name="name" id="name" maxlength="20" required>
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">textarea</label>
        <textarea class="form-control" name="content" id="content" maxlength="140" required></textarea>
    </div>
    <div class="button-row">
    <input type="submit" value="Submit" class="btn btn-primary">
</form>    
        <form action="/clear" method="POST" style="display: inline;">
            <button type="clear" class="btn btn-secondary">Clear All</button>
        </form>
    </div>


<% if (locals.allTweets) { %>
  <% allTweets.slice().reverse().forEach(tweetObj => { %>
    <div class="tweet-div">
      <div class="name-div">
        <p><strong><%= tweetObj.name//buttons with edit and clear on this line%></strong></p>
      </div>
      <div class="funtionality-div">
      <form action="/edit" method="POST">
        <button type="edit" class="btn btn-outline-secondary" style="padding-right: 10px;">edit</button>
      </form>
      <form action="/remove" method="POST">
        <button type="remove" class="btn btn-outline-secondary">remove</button>
      </form>
      </div>
      <div class="text-div">
        <p><%= tweetObj.tweet %></p>
      </div>
    </div>
  <% }) %>
<% } %>

<%- include("partials/footer.ejs") %>
